// COLORS
$primary-color: #55c57a;
$primary-color-light: #27ae60;

$color-white: #fff;

$color-gray-dark: #777;

$color-grey-dark: #333;
$color-gray-dark-2: #999;


$color-gray-light: #bdc3c7;

$color-black:black;
$color-grey-light:#f7f7f7;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7738;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$shadow-lg:0 1.5rem 4rem rgba($color-black, .15) ;
$shadow-xl:0 2rem 4rem rgba($color-black, .8) ;
$shadow-md:0 1rem 2rem rgba($color-black, 0.15);
$shadow-sm: 0 0.5rem 1rem rgba($color-black, 0.15);







// FONT

$default-font-size:1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical:8rm;
$gutter-horizontal:6rem;